<hr>
{% include "page_controls.html" %}
<hr>
{% for play_info in episodes %}
<div class="episode-container unexpanded">
    <div class="thumbnail-container">
        <img hx-trigger="click" hx-get="/feed?feed={{ play_info.episode.feed_id }}" hx-target="#user-feeds-timeline" hx-swap="innerHTML show:top" class="episode-thumbnail" hx-replace-url="/podhome?feed={{ play_info.episode.feed_id }}" src="{{ play_info.episode.cover_art_url }}">
    </div>
    <div class="episode-data">
        <h2> {{ play_info.episode.assets.title }}</h2>
        <div class="episod-time-listened">{{ play_info.previous_listen.time_listened }}</div>
        <div class="episode-description">
            {% if play_info.episode.assets.description %} {{ play_info.episode.assets.description | safe }} {% else %} No description available {% endif %}
        </div>
        <form hx-swap="innerHTML" hx-post="/play-episode" hx-target="#player">
            <button type="submit" value="{{ play_info.episode.id }}" class="play-button"  name="episode_id">&#9654;</button>
        </form>
    </div>
</div>
<hr>
{% endfor %}
{% include "page_controls.html" %}
