<div id="page-controls">
    {% if page > 1 %}
    <button hx-trigger="click" hx-get="/feed?page={{page-1}}{% if feed_id %}&feed={{feed_id}}{% endif %}" hx-include="#search" hx-target="#user-feeds-timeline" hx-swap="innerHTML show:top" hx-replace-url="/podhome?page={{page-1}}{% if feed_id %}&feed={{feed_id}}{% endif %}">
        Previous page
    </button>
    {% endif %}
    {% if page > 1 or feed_id %}
    <button hx-trigger="click" hx-get="/feed" hx-include="#search" hx-target="#user-feeds-timeline" hx-swap="innerHTML show:top" hx-replace-url="/podhome">
        Home
    </button>
    {% endif %}
    <button hx-trigger="click" hx-get="/feed?page={{page+1}}{% if feed_id %}&feed={{feed_id}}{% endif %}" hx-include="#search" hx-target="#user-feeds-timeline" hx-swap="innerHTML show:top" hx-replace-url="/podhome?page={{page+1}}{% if feed_id %}&feed={{feed_id}}{% endif %}">
        Next page
    </button>
</div>
