<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
   <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link href="/static/style.css" rel="stylesheet">
    <title>Podcasticot - Feed</title>
</head>
<body>
<div id="player-container">
    <div id="player">
                {% if play_info %}
                {% include "player-control.html" %}
                {% endif %}
    </div>
</div>
<div id="form-plus-timeline">
    <div id="ui">
        <div>
            <div id="subscription-form">
                <h1>Subscribe</h1>
                <form hx-post="/subscribe-to-feed" hx-target="#user-feeds-timeline" hx-swap="innerHTML">
                    <label for="#new-feed">Subscribe to a new feed</label>
                    <div id="sub-form-input-plus-button">
                        <input type="text" id="#new-feed"  name="feed">
                        <button type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <div>
                        <button id="refresh" hx-trigger="click" hx-post="/refresh" hx-target="#user-feeds-timeline" hx-swap="innerHTML">
                            Refresh feed
                        </button>
            </div>
            <div id="user-feeds-timeline">{% include "feed.html" %}</div>
                    <div id="next-page"><a href="/podhome?page={{page + 1}}">Next page</a></div>
        </div>
    </div>
</div>
<script src="/static/time_update.js"></script>
<script src="/static/hotkeys.js"></script>
</body>
</html>
